
img {
  max-height: 50%;
  max-width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

body {
  /*background-color: #B6B6B6;*/
}

.wrapper {
  width:100%;
  text-align:center;
  position: absolute;
  top: 75%;
}

blockquote {
  max-width: 50%;
  /*position: absolute;*/
  /*margin-left: 25%;*/
  /*top: 75%;*/
  /*left: 0;
  right: 0;*/
  
  display:inline-block;
  *display:inline;/* IE*/
  *zoom:1;/* IE*/
  text-align:left;
}

blockquote > p {
  text-align: justify;
}
