h1 {
  font-size: 10vh;
  text-align: center;
  margin-top: 40vh;
  margin-bottom: 0px;
  color: white;
  text-shadow: 2px 4px 4px #999999; 
}

body {
  font-family: 'Product Sans', Arial, sans-serif;
  background-image: url(media/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 2.5vh;
  border-left: 5px solid #EEE;
  
  max-width: 50%;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-align: left;
}

blockquote p {
  margin: 0 0 10px;
  text-align: justify;
}

blockquote footer {
  font-size: 80%;
  color: #777;
}

blockquote footer::before {
  content: '\2014 \00A0';
}

svg {
  width: 4vw;
  fill: white;
  transition: fill 0.75s;
}

.twitter:hover {
  fill: #55acee;
}

.github:hover {
  fill: black;
}

.social {
  width:100%;
  top: 0px;
  text-align: center;
}

a {
  text-decoration: none !important;
}

.wrapper {
  margin-top: 5vh;
  text-align: center;
}
