html {
  background-color: white;
  -webkit-font-smoothing: antialiased;
}

body {
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: 'Josefin Sans';
  overflow-x: hidden;
/*  background-image: linear-gradient(to bottom right, #d13b80, #2c337e);*/
/*  background-image: linear-gradient(to bottom right, #c642c9, #bffdd4);*/
/*  background-image: linear-gradient(to left top, rgb(39, 93, 212), rgb(238, 112, 109));*/
}

.landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  font-family: 'Galada', serif;
  color: white;
  font-size: 10em;
}

h1:after {
  content: '';
  display: block;
  height: 10px;
  width: 0px;
  background-color: transparent;
  transition: width .5s ease .5s, background .5s ease .5s;
  transform: translateY(-80px);
}

.underline:after {
  width: 100%;
  background-color: white;
}

.uvc-x-large-triangle {
  transform: rotate(180deg);
  display: block;
  margin-top: -100px;
}

.section {
  position: relative;
  width: 100%;
  background: white;
  display: block;
}

.works {
  margin-top: -30px;
}

.infos {
  text-align: center;
}

.section h2, .section h3 {
  margin: 0 auto;
  text-align: center;
}

.section h2 {
  font-family: 'Kaushan Script', serif;
  font-size: 3.5em;
  font-weight: 100;
}

.section h2:before {
  display: inline-block;
  content: url('data:image/svg+xml; utf8, <svg viewBox="0 0 1900 1900" xmlns="http://www.w3.org/2000/svg"><path stroke="null" d="M393.3 1617.5l608.67-1388.53H1036l575 1388.53m-239.62-85.1L965.93 535.3l-438.48 997.1h843.93z"/></svg>');
  width: 1.5em;
  transform: translate(-18px, 23px);
  margin-right: -31px;
}

.section h3 {
  font-size: 1.3em;
}

.infos .fa {
  font-size: 5em;
  margin: 0 10px;
  display: inline-block;
}


.infos a:after {
  content: none;
}

.fa-twitter { color: #1da1f3; }
.fa-github { color: #000000; }
.fa-linkedin-square { color: #0077b5; }

a {
  font-style: italic;
  text-decoration: none;
}

a:after {
  content: "⤴";
  font-size: .5em;
  display: inline-block;
}

.blocks {
  width: auto;
  text-align: center;
  padding: 0 calc((100vw - (288px * 5)) / 2);
}

.block {
  width: 288px;
  height: 288px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: -2px;
}

.block img {
  width: 100%;
  transition: transform .5s;
  z-index: 1;
}

.block .filter {
  position: absolute;
  top: 0px; 
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .5s;
  z-index: 2;
}

.block .description {
  color: white;
  position: absolute;
  top: 0px; 
  left: 0;
  width: calc(100% - 20px);
  opacity: 0;
  transition: opacity .5s;
  padding: 10px;
  text-align: justify;
  z-index: 3;
}

.blue-link {
  color: #b9cefc;
}

.block .description h4 {
  font-size: 2em;
}

.block .fa-link {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  opacity: 0;
  transition: opacity .5s;
  font-size: 1.4em;
  z-index: 3;
}

.block .fa-link:hover {
  cursor: pointer;
}

.block:hover img {
  transform: scale(1.2);
}

.block:hover .description, .block:hover .fa-link {
  opacity: 1;
}

.block:hover .filter {
  background-color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 1500px) {
  .blocks {
    padding: 0 calc((100vw - (288px * 4)) / 2);
  }
}

@media screen and (max-width: 1200px) {
  .blocks {
    padding: 0 calc((100vw - (288px * 3)) / 2);
  }
}

@media screen and (max-width: 1000px) {
  .landing h1 { font-size: 7em; }
  h1:after {
    height: 7px;
    transform: translateY(-55px);
  }
}

@media screen and (max-width: 900px) {
  .blocks {
    padding: 0 calc((100vw - (288px * 2)) / 2);
  }
}

@media screen and (max-width: 700px) {
  .underline:after {
    width: 0%;
    transition: none;
  }
  .landing h1 {
    line-height: 100px;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .block {
    width: 80vw;
    height: 80vw;
    margin: -2px 0;
  }
}

@media screen and (max-width: 400px) {
  .landing h1 {
    font-size: 5em;
    line-height: 80px;
  }
  .infos h2 {
    font-size: 3em;
  }
}