body {
  height: 100vh;
  margin: 0;
  position: relative;
  font-family: 'Josefin Sans';
/*  background-image: linear-gradient(to bottom right, #d13b80, #2c337e);*/
/*  background-image: linear-gradient(to bottom right, #c642c9, #bffdd4);*/
/*  background-image: linear-gradient(to left top, rgb(39, 93, 212), rgb(238, 112, 109));*/
}

.landing {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing h1 {
  font-family: 'Galada', serif;
  color: white;
  font-size: 10em;
}

h1:after {
  content: '';
  display: block;
  height: 10px;
  width: 0px;
  background-color: transparent;
  transition: width .5s ease .5s, background .5s ease .5s;
  transform: translateY(-80px);
}

.underline:after {
  width: 100%;
  background-color: white;
}

.uvc-x-large-triangle {
  transform: rotate(180deg);
  display: block;
  margin-top: -100px;
}

.section {
  position: relative;
  width: 100%;
  background: white;
  display: block;
}

.works {
  margin-top: -30px;
}

.infos {
  text-align: center;
  height: 240px;
}

.section h2, .section h3 {
  margin: 0 auto;
  text-align: center;
}

.section h2 {
  font-family: 'Kaushan Script';
  font-size: 3.5em;
  font-weight: 100;
}

.section h2:before {
  display: inline-block;
  content: '∆';
  font-size: 1.5em;
  transform: translate(-6px, 8px);
}

.section h3 {
  font-size: 1.3em;
}

.infos .fa {
  font-size: 5em;
  margin: 0 10px;
  display: inline-block;
}


.infos a:after {
  content: none;
}

.fa-twitter { color: #1da1f3; }
.fa-github { color: #000000; }
.fa-linkedin-square { color: #0077b5; }

a {
  font-style: italic;
  text-decoration: none;
}

a:after {
  content: "⤴";
  font-size: .5em;
  display: inline-block;
}

.blocks {
  width: 80vw;
  margin: 20px 10%;
}

.block {
  width: calc(80vw / 4);
  height: calc(80vw / 4);
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  margin: -2px;
}

.block img {
  max-width: 100%;
  transition: transform .5s;
  z-index: 1;
}

.block .filter {
  position: absolute;
  top: 0px; 
  left: 0;
  width: 100%;
  height: 100%;
  transition: background-color .5s;
}

.block .description {
  color: white;
  position: absolute;
  top: 0px; 
  left: 0;
  width: calc(100% - 20px);
  opacity: 0;
  transition: opacity .5s;
  padding: 10px;
  text-align: justify;
}

.blue-link {
  color: #b9cefc;
}

.block .description h4 {
  font-size: 2em;
}

.block .fa-link {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  opacity: 0;
  transition: opacity .5s;
  font-size: 1.4em;
}

.block .fa-link:hover {
  cursor: pointer;
}

.block:hover img {
  transform: scale(1.2);
}

.block:hover .description, .block:hover .fa-link {
  opacity: 1;
}

.block:hover .filter {
  background-color: rgba(0, 0, 0, 0.6);
}